<template>
  <div id="app" class="has-background-black has-text-light">
    <navbar></navbar>

    <left-menu />
  </div>
</template>

<script>
import navbar from "./Navbar.vue";
import LeftMenu from './LeftMenu.vue';

export default {
  name: "app",
  data() {
    return {
      msg: "Your Vue.js App!",
      dateAndTime: "current"
    };
  },
  methods: {
    generate: function(event) {
      alert(event);
    }
  },
  beforeMount: function() {
    // Load the last available asset allocation, if any.
    // todo: check cached report
    // todo: fetch the report from the server
    // todo: cache the report locally
  },
  components: {
    navbar,
    LeftMenu
  }
};
</script>
<style lang="css">
/* body {
  background-color: bisque;
}
#app {
  color: black;
} */
</style>