<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">Hola!</h1>
        <p class="subtitle">
          My first website with
          <strong>Bulma</strong>!
        </p>
      </div>
    </section>

    <div>Latest asset allocation: {{ dateAndTime }}</div>
    <div>The asset allocation report goes here</div>
    <div>
      <button class="button" v-on:click="generate">Generate</button>
    </div>

    <section class="section">
      <p>Demo for some controls</p>
      <input type="text" class="input">
    </section>

    <columns-demo></columns-demo>
  </div>
</template>
<script>
import columnsDemo from "./DemoColumns.vue";

export default {
  name: "Demo",
  data() {
    return {};
  },
  components: [columnsDemo]
};
</script>

