<template>
  <div class="columns is-fullheight">
    <div class="column is-2 is-sidebar-menu is-hidden-mobile has-background-black">
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li>
            <router-link to="/foo">foo</router-link>
          </li>
          <li>
            <router-link to="/">Demo</router-link>
          </li>
          <li>
            <a>Test</a>
          </li>
          <li>
            <a href="/page2">Page 2 direct</a>
          </li>
          <li>
            <router-link to="/page3">Route to page 3</router-link>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-main-content">
      <router-view/>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {

    }
  }
}
</script>
