<template>
  <nav class="navbar has-background-dark has-text-light" 
    role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        Asset Allocation
      </a>
      
      <a
        role="button"
        class="navbar-burger burger"
        v-bind:class="{ 'is-active': hamburgerActive }"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        v-on:click="toggleMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" v-bind:class="{ 'is-active': hamburgerActive }">
      <!-- navbar start, navbar end -->
      <div class="navbar-start">
        <a class="navbar-item">Home</a>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  data() {
    return {
      hamburgerActive: false
    };
  },
  methods: {
    toggleMenu: function(event) {
      //alert("menu toggling");
      this.hamburgerActive = !this.hamburgerActive;
    }
  }
};
</script>
<style>
</style>
