<template>
    <div id="app">
        <p>This is page 2</p>

        <demo-columns></demo-columns>
    </div>
</template>
<script>
import DemoColumns from './DemoColumns.vue';

export default {
    name: 'page2',
    data () {
        return {

        }
    },
    components: [ DemoColumns ]
}
</script>
